{% load widget_tweaks %}
<div class="row">
<div class="w-100 mx-4 form-group">
{% for field in form %}
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <div style="text-align: left;"> 
            {% if 'Father name' in field.label %}
            <strong>Father name/Husband name:</strong>
            {% else %}
        <strong>{{field.label_tag}}</strong>
        {% endif %}
        </div>
        {% if "Dob" in field.label %}
        {% render_field field class="form-control" type="Date"%}
        {% else %}
        {% render_field field class="form-control"%}
        {% endif %}
    
{% endfor %}
</div>
</div>