{% extends 'cm/base_header.html' %}
{% block body %}

<div class="content-wrapper">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'cm:index' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'cm:cmhome' %}">Contact Management</a>
    </li>
    <li class="breadcrumb-item active">Party DataForm</li>
  </ol>
  <center>
<h2> <a  class="btn btn-outline-info" href="{% url 'cm:partydata'%}"  ><span class="fa fa-database"></span>  DataBase</a>  <a  class="btn btn-outline-info" href="{% url 'cm:create-constency'%}"><span class="fa fa-edit"></span>  Create New Mandal</a> <a  class="btn btn-outline-info"  href="{% url 'cm:partydata-import' %}" ><span class="fa fa-upload"></span>  Import</a> </h2>
</center>
<center>
<div class="col-sm-6" >
  <div class="jumbotron"> 
      <h1 class="display-5">Party Data Form</h1>    
<form class="form-horizontal" method="POST" style="background:#E9ECEF" enctype="multipart/form-data">
    {% csrf_token %}
    {% if error_message %}
    <p><strong><center>{{ error_message }}</center></strong></p>
    {% endif %}
    {% include 'cm/form-template2.html' %}
    <div class="form-group col-sm-4 col-md-3">
    <button type="submit"  class=" btn mx-auto  btn-success ">Submit</button>
    </div>
</form>
</div>
</div>
</center>
</div>







<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  
<script>
  $("#id_user").change(function(){
   
  var url = $("#PartyForm").attr("data-user-url");  // get the url of the `load_cities` view
  var userId = $("#id_user").val();  // get the selected country ID from the HTML input
  console.log(userId)
  $.ajax({                       // initialize an AJAX request
    url: "{% url 'cm:ajax_load_mandal'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    data: {
      'user': userId       // add the country id to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `load_cities` view function
      $("#id_mandal").html(data);
        // replace the contents of the city input with the data that came from the server
    }
  });
});
</script>

<script>
$("#id_user").change(function(){
 
var url = $("#PartyForm").attr("data-partypostion-url");  // get the url of the `load_cities` view
var userId = $("#id_user").val();  // get the selected country ID from the HTML input
console.log(userId)
$.ajax({                       // initialize an AJAX request
  url: "{% url 'cm:ajax_load_partyposition'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
  data: {
    'user': userId       // add the country id to the GET parameters
  },
  success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#id_party_position").html(data);
      // replace the contents of the city input with the data that came from the server
  }
});
});
</script>

<script>
  $("#id_mandal").change(function () {
    var url = $("#PartyForm").attr("data-gp-url");  // get the url of the `load_cities` view
    var mandalId = $(this).val();  // get the selected country ID from the HTML input
    console.log(mandalId)
    $.ajax({                       // initialize an AJAX request
      url: "{% url 'cm:ajax_load_gram_panchayat'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'mandal': mandalId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_gram_panchayat").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });
  });
</script>
<script>
    $("#id_gram_panchayat").change(function () {
      var url = $("#PartyForm").attr("data-village-url");  // get the url of the `load_cities` view
      var gpId = $(this).val();  // get the selected country ID from the HTML input
      console.log(gpId)
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'cm:ajax_load_village'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'gram_panchayat': gpId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_village").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>


  <script type="text/javascript">
    function Checkfiles()
    {
        var fup = document.getElementById('id_profile');
        var fileName = fup.value;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);

    if(ext ==="jpg" || ext==="JPG" || ext==="png" || ext==="PNG" || ext==="tif" || ext==="TIF")
    {
        return true;
    }
    else
    {
        alert("Upload Image of type jpg,png,tif");
        return false;
    }
    }
</script>


<script>

var x= document.getElementsByTagName("label");
var len=x.length;
for(var i=0;i<len;i++)
{
 if(x[i].innerHTML==="User:")
 x[i].innerHTML="Constencies:"; 
}

</script>



  {%endblock%}