{% extends 'cm/base_header.html' %}
{% block body %}
<div class="content-wrapper">
     <!-- Breadcrumbs-->
  <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'cm:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'cm:cmhome' %}">Contact Management</a>
        </li>
        <li class="breadcrumb-item active">Create Party Position</li>
      </ol>
<div class="container" style="background:white";>
    <div class="row">
            <div class="col-sm-11 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Create Party Position </h3>
                    {% if error_message %}
                        <ul>
                        {% for i in error_message %}
                        <li><strong>{{ i }}</strong></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'cm/form-template.html' %}
                        {% if form %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a href="{% url 'cm:create-constency' %}" class="btn btn-success">Add Another Constency</a>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        
        <div class="card mb-3">
                <div class="card-header">
                  <i class="fa fa-database"></i> DataBase
               
                </div>
                  <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          
                          <th>Party Positions</th>
                        </tr>
                      </thead>
                      <tbody>
                            {%for data in partypos%}
                            <tr>
                            <td><a href="{% url 'cm:update_party_pos' data.pk %}">{{data}}</a></td>
                            </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="card-footer small text-muted" id="total">YSRIT Database</div>
            </div>
        
    </div>
    {% endblock %}