{% extends 'cm/base_header.html' %}
{% load widget_tweaks %}
{% block body %}
<div class="content-wrapper">
  <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'cm:index' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'cm:cmhome' %}">Contact Management</a>
        </li>
        <li class="breadcrumb-item active">Gallery</li>
      </ol>
      <!--Filter Data-->
      <a class="btn btn-primary btn-md" href="{% url 'cm:filter_photo' %}" ><span class="fa fa-filter"></span>  Filter</a>
      
      <hr>
      <form method="POST" role="form" >
          {% csrf_token %}
          {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
          {% endif %}
          {% include 'cm/form-template1.html'  %}
        </form>
  
    

            
<style>
    li121 {
        width: 220px;
        min-height: 250px;
        border: 5px solid #000;
        display: inline-block;
        margin: 10px;

        }
</style>









    <div class="row">
            <ul>
            {% for data in object_list%}
                    
                    {% if data.profile %}
                    <li class="li121" style="display: inline-block"> 
                        <div class="card" style="width: 16rem;">
                            <img class="card-img-top" src="{{data.profile.url}}" alt="Card image cap" width="100" height="220">
                            <div class="card-body">
                            <p class="card-text"><a href="{% url 'cm:update' data.pk %}"><strong><center>{{data.name}}</center></strong></a></p>
                        </div>
                    </div>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
            {% endfor%} 
            </ul>
            
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



<script>
  $("#id_user").change(function(){
   
  var url = $("#PartyForm").attr("data-user-url");  // get the url of the `load_cities` view
  var userId = $("#id_user").val();  // get the selected country ID from the HTML input
  console.log(userId)
  $.ajax({                       // initialize an AJAX request
    url: "{% url 'cm:ajax_load_mandal'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    data: {
      'user': userId       // add the country id to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `load_cities` view function
      $("#id_mandal").html(data);
        // replace the contents of the city input with the data that came from the server
    }
  });
});
</script>

<script>
$("#id_user").change(function(){
 
var url = $("#PartyForm").attr("data-partypostion-url");  // get the url of the `load_cities` view
var userId = $("#id_user").val();  // get the selected country ID from the HTML input
console.log(userId)
$.ajax({                       // initialize an AJAX request
  url: "{% url 'cm:ajax_load_partyposition'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
  data: {
    'user': userId       // add the country id to the GET parameters
  },
  success: function (data) {   // `data` is the return of the `load_cities` view function
    $("#id_party_position").html(data);
      // replace the contents of the city input with the data that came from the server
  }
});
});
</script>

<script>
  $("#id_mandal").change(function () {
    var url = $("#PartyForm").attr("data-gp-url");  // get the url of the `load_cities` view
    var mandalId = $(this).val();  // get the selected country ID from the HTML input
    console.log(mandalId)
    $.ajax({                       // initialize an AJAX request
      url: "{% url 'cm:ajax_load_gram_panchayat'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'mandal': mandalId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_gram_panchayat").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });
  });
</script>
<script>
    $("#id_gram_panchayat").change(function () {
      var url = $("#PartyForm").attr("data-village-url");  // get the url of the `load_cities` view
      var gpId = $(this).val();  // get the selected country ID from the HTML input
      console.log(gpId)
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'cm:ajax_load_village'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'gram_panchayat': gpId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_village").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>




{% endblock %}
    